
    padding: 0px;
    border: 0px; 
    margin: 0px;
}
a {text-decoration: none;}
li {list-style:none;}

.menu{
    width: 47px;
    font-size: 13px;
    font-family: "helvetica";
    float: left;
   
}

.mainImg{
    
    display: inline-block;
    
}

.bg {
    background-color: blanchedalmond;
    padding: 200px 0;
}

li{
    list-style-type: none;
}
.header{
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    
    position: fixed;
    
    width: 100%;
    z-index: 1;
}

.btn{
    color: black;
}

.btn:hover {
    color: #fff;
    background-color: coral;
}

.adviceBtn{
    color: #fff;
    position: fixed;
    bottom: 50px;
    right: 50px;
}